*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.card{
    background-color: #ffffff80;
    padding: 5%;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}
h1{
    text-align: center;
    margin-bottom: 8%;
    color: rgb(66, 66, 233)
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(66, 66, 233);
    outline: none;
    min-width: 180px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: 2px solid rgb(105, 105, 228);
}
.label-float label{
    color: blue;
    pointer-events: none;
    position: absolute;
    top:0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: red;
}
button{
    background-color: transparent;
    border-color: rgb(66, 66, 233);;
    color: rgb(66, 66, 233);
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;

}
button:hover{
    background-color: rgb(66, 66, 233);
    color: white;
    transition: all .3s ease-out;
}
.justify-center{
    display: flex;
    justify-content: center;
}
hr{
    margin-top:10%;
    margin-bottom: 10%;
    width: 70%;
}
p{
    color: rgb(66, 66, 233);
    font-size: 14pt;
    text-align: center;
}
a{
    color: rgba(0, 0, 248, 0.747);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: all .3s ease-out;
}
.cadastro{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.fa-eye{
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    color: rgb(66, 66, 233);
}